html, body{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	background-image: url("../imagenes/mina.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
#footer{
	width: 100%;
	background-color: #000;
	color: #fff;
	text-align: center;
}
#contenedor{
	width: 100%;
	min-height: 750px;
	background-color: rgba(255,255,255,0.6);
}
#cabecera{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;	
}
.cajaTitulo{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}
.logo{
	width: 15%;
	margin-left: 5%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo > img{
	width: 60%;
	height: 80%;
	margin: auto;
}
.tituloPagina{
	width: 80%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}